 @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
     *{margin:0;
       padding:0;
       border:0;}
      body{background-color: rgb(44, 0, 11);}
      header {
       padding: 32px;
       border-bottom: 1px solid #4d021f;
       background-color: #4d021f;   }
      header div{
       text-align:center;/*alinhamento no meio do header*/}
      header div a{
       color: rgb(245, 163, 174);/*cor do texto*/
       font-size: 20px; /*tamanho da fonte*/ 
       line-height: 30px;/*espaçamento da linha do texto*/
       margin: 0 16px;/*espaçamento ente os textos*/
       text-decoration: none;/*retirar decoração do texto*/
       font-family: "Fjalla One", sans-serif; /*a fonte escolhida pro menu*/}
      header div a:hover{
       color:#0c5fbef1;
       transition: color 400ms ;}
      #box{
        text-align: center;
        padding: 32px;}
      #box img {
        border-radius: 50%;
        border: 5px solid #05011f;
        margin-bottom: 32px;
        width: 300px;}
        #box h1 {
        font-size: 42px;
        line-height: 52px; 
        font-weight: bold;}
        
      #box h2 {
        font-size: 24px;
        line-height: 34px;
        font-weight: normal; 
        margin-top: 8px;
        opacity: 0.8;} 

      #box p {
        max-width: 500px; 
        margin: 32px;
        font-size: 24px; 
        line-height: 34px;
      color: #f895bb;}

        :root{
          --subcor: #a50140; }

          header {
            padding: 32px;
            border-bottom: 3px solid var(--subcor);
            background-color: #4b0212; }

            header div {
              text-align: center; }

              .links {
                text-align: center; }
              
              .links{ color: var(--subcor);
                 font-size: 20px;
                 line-height: 30px;
                 margin:0 16px;
                 text-decoration: none;}

               .links a:hover{
                 color: var(--subcor);
                 transition: 600ms; 
                 font-size: 23px;}

                #box h1{
                  padding: 4px;
                color: #f895bb;}

                #box h2 {
                  padding: 10px;
                color: #f895bb;}

                #box p:hover{
                  font-size: 23px}

                #box a {
                  color: var(--subcor);
                  transition: 600ms;}

                #linksFooter{                                                                    
                  padding: 32px; }

                #linksFooter a{
                  padding-top: 32px;
                  padding-bottom: 8px; 
                  border-bottom: 3px solid var(--subcor); }