 @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
     *{margin:0;
       padding:0;
       border:0;}
      body{background-color: rgb(44, 0, 11);}
      header {
       padding: 32px;
       border-bottom: 1px solid #4d021f;
       background-color: #4d021f;   }
      header div{text-align:center;/*alinhamento no meio do header*/}
      header div a{
       color: rgb(245, 163, 174);/*cor do texto*/
       font-size: 20px; /*tamanho da fonte*/ 
       line-height: 30px;/*espaçamento da linha do texto*/
       margin: 0 16px;/*espaçamento ente os textos*/
       text-decoration: none;/*retirar decoração do texto*/
       font-family: "Fjalla One", sans-serif; /*a fonte escolhida pro menu*/}
    header div a:hover{
        color:#0c5fbef1;
        transition: color 400ms ;}